.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 150px;
  line-height: 100px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #272733;
  font-size: 52px;
  line-height: 52px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Varelaroundprecious, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

p {
  margin-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #272733;
  font-size: 18px;
  line-height: 28px;
}

.margin-xhuge {
  margin: 8rem;
}

.text-weight-bold {
  font-weight: 700;
}

.icon-height-small {
  height: 1rem;
}

.background-color-black {
  background-color: #000;
  color: #f5f5f5;
}

.heading-style-h4 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
}

.form_message-error {
  margin-top: 0.75rem;
  padding: 0.75rem;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.text-size-small {
  font-size: 0.875rem;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.page-wrapper {
  overflow: hidden;
  background-color: #faf4f4;
}

.fs-styleguide_header-block {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-0 {
  padding: 0rem;
}

.text-size-tiny {
  font-size: 0.75rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.background-color-white {
  background-color: #fff;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.text-align-right {
  text-align: right;
}

.text-size-large {
  font-size: 1.5rem;
}

.fs-styleguide_item-header {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.overflow-visible {
  overflow: visible;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

.form_checkbox-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-radius: 0.125rem;
}

.form_checkbox-icon.w--redirected-checked {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-radius: 0.125rem;
  background-size: 90%;
}

.form_checkbox-icon.w--redirected-focus {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-radius: 0.125rem;
  box-shadow: 0 0 0.25rem 0rem #3898ec;
}

.fs-styleguide_2-col {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-styleguide_2-col.is-align-start {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.icon-height-large {
  height: 3rem;
}

.fs-styleguide_classes {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.fs-styleguide_4-col {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.fs-styleguide_section-header {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding-bottom: 3rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #000;
  line-height: 1.4;
}

.margin-small {
  margin: 1rem;
}

.text-size-regular {
  font-size: 1rem;
}

.padding-xsmall {
  padding: 0.5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.icon-height-medium {
  height: 2rem;
}

.form_radio-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-top: 0rem;
  margin-right: 0.5rem;
  margin-left: 0rem;
}

.form_radio-icon.w--redirected-checked {
  width: 0.875rem;
  height: 0.875rem;
  border-width: 0.25rem;
}

.form_radio-icon.w--redirected-focus {
  width: 0.875rem;
  height: 0.875rem;
  box-shadow: 0 0 0.25rem 0rem #3898ec;
}

.padding-custom3 {
  padding: 3.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.margin-xxhuge {
  margin: 12rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.margin-huge {
  margin: 6rem;
}

.fs-styleguide_section {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.padding-left {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.fs-styleguide_item {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-bottom: 3rem;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.margin-medium {
  margin: 2rem;
}

.text-color-white {
  color: #fff;
}

.fs-styleguide_spacing {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: stretch;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 115, 230, 0.1)), to(hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(0deg, rgba(0, 115, 230, 0.1), hsla(0, 0%, 100%, 0));
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-horizontal {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.padding-small {
  padding: 1rem;
}

.text-color-black {
  color: #000;
}

.text-color-grey {
  color: grey;
}

.heading-style-h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.global-styles {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
}

.text-align-center {
  text-align: center;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.margin-xsmall {
  margin: 0.5rem;
}

.heading-style-h3 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.fs-styleguide_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25rem 0.75rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0073e6;
  color: #fff;
  line-height: 1.4;
  font-weight: 600;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  background-color: #f5f5f5;
  color: #000;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.text-style-quote {
  margin-bottom: 0rem;
  padding: 0rem 1.25rem;
  border-left: 0.25rem solid #e2e2e2;
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-style-italic {
  font-style: italic;
}

.layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_3-col {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fs-styleguide_3-col.is-align-start {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.text-size-medium {
  font-size: 1.25rem;
}

.padding-right {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.text-align-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.overflow-auto {
  overflow: auto;
}

.margin-right {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.25rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.fs-styleguide_item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.form_component {
  margin-bottom: 0rem;
}

.fs-styleguide_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.spacing-clean {
  margin: 0rem;
  padding: 0rem;
}

.form_input {
  min-height: 3rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: 0.75rem;
}

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.margin-tiny {
  margin: 0.125rem;
}

.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.padding-large {
  padding: 3rem;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.margin-left {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.text-weight-light {
  font-weight: 300;
}

.padding-horizontal {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.form_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.padding-xxsmall {
  padding: 0.25rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.padding-xxhuge {
  padding: 12rem;
}

.margin-vertical {
  margin-right: 0rem;
  margin-left: 0rem;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
}

.background-color-grey {
  background-color: #f5f5f5;
}

.text-style-muted {
  opacity: 0.6;
}

.heading-style-h6 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}

.padding-medium {
  padding: 2rem;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, 0.05);
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.fs-styleguide_1-col {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-style-h5 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_empty-box {
  position: relative;
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  border-style: dashed;
  border-width: 1px;
  border-color: #0073e6;
  background-color: rgba(0, 115, 230, 0.1);
}

.padding-huge {
  padding: 6rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.fs-styleguide_color.is-3 {
  background-color: #fff;
}

.fs-styleguide_color.is-1 {
  background-color: #000;
}

.fs-styleguide_color.is-2 {
  background-color: #f5f5f5;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.button.is-secondary {
  border-style: solid;
  border-width: 2px 2px 0.125rem;
  border-color: #000;
  background-color: transparent;
  color: #000;
}

.button.is-text {
  border: 2px solid transparent;
  background-color: transparent;
  color: #000;
}

.button.is-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-decoration: none;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.form_radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.margin-large {
  margin: 3rem;
}

.padding-tiny {
  padding: 0.125rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.heading-style-h1 {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
}

.hide {
  display: none;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.section-hero {
  height: auto;
}

.hero_text-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-h1-hero {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Varelaroundprecious, sans-serif;
  color: #272733;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.heading-h1-2023 {
  margin: 0px 10px;
  padding-top: 15px;
  font-family: Preciousplasticfont, sans-serif;
  color: #272733;
  font-size: 50px;
  line-height: 50px;
}

.div-block {
  margin-right: 10px;
  margin-left: 10px;
  background-image: url('../images/2023-vector.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero_video-wrap {
  position: relative;
  height: 50vh;
}

.div-block-2 {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border: 10px solid #272733;
  border-radius: 30px 30px 0px 0px;
  background-color: #272733;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  position: relative;
  z-index: 1000;
  font-family: Preciousplasticfont, sans-serif;
  color: #272733;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -3px;
}

.heading.line0heirgh {
  line-height: 100px;
  letter-spacing: 0px;
}

.div-block-4 {
  width: 70px;
  height: 8px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 100px;
  background-color: #272733;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-8 {
  width: 70%;
  border: 1px none #000;
}

.div-block-9 {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid none none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.5) #000;
}

.div-block-10.first {
  border-top-style: none;
}

.div-block-11 {
  width: 30%;
}

.text-block {
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #272733;
  font-size: 24px;
  font-weight: 400;
}

.list {
  padding-left: 10px;
}

.div-block-12 {
  width: 21%;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image {
  width: 20px;
  margin-top: 2px;
  margin-right: 10px;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 21%;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-16.hidden {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.div-block-16.mobile {
  display: none;
}

.image-2 {
  width: 20px;
  margin-right: 10px;
}

.paragraph {
  font-size: 22px;
  line-height: 32px;
}

.section-os-database {
  background-color: #00c3a9;
}

.link-block {
  margin-right: 20px;
  margin-left: 20px;
  padding: 25px 40px;
  border: 2px solid #272733;
  border-radius: 10px;
  background-color: #272733;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #00c3a9;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.link-block:hover {
  background-color: #272733;
  color: #00c3a9;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-block-2 {
  position: absolute;
  left: 10px;
  top: 10px;
  right: auto;
  bottom: auto;
  display: none;
}

.div-block-18 {
  width: 100vw;
  height: auto;
  margin-bottom: -1px;
  padding-bottom: 0px;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.image-3 {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-19 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: block;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-4 {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-left: -45vw;
}

.div-block-20 {
  position: relative;
  z-index: 2;
  width: 100%;
}

.image-5 {
  position: relative;
}

.image-6 {
  width: 100px;
  margin-top: -76px;
  margin-right: -21px;
  margin-left: 0vw;
}

.image-7 {
  width: 50px;
  margin-top: 0px;
  margin-bottom: -100px;
  margin-left: 0px;
  opacity: 0.5;
}

.image-8 {
  width: 50px;
  margin-top: -68px;
  margin-right: 28px;
  margin-bottom: 97px;
  padding-top: 0px;
  opacity: 0.67;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 33%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-9 {
  width: 120px;
}

.div-block-22 {
  width: 60%;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-24 {
  width: 20%;
}

.image-10 {
  width: 70px;
  margin-top: -52px;
  opacity: 0.5;
}

.image-11 {
  width: 100px;
  margin-right: 29px;
  margin-left: 0px;
}

.image-12 {
  width: 100px;
  margin-left: 33px;
}

.image-13 {
  width: 60px;
  margin-top: 78px;
  margin-left: 46px;
  opacity: 0.5;
}

.image-14 {
  width: 100px;
  margin-right: -11px;
}

.image-15 {
  width: 50px;
  margin-top: -49px;
  margin-right: 28px;
  margin-left: 0px;
  border-radius: 50px;
  opacity: 0.5;
}

.image-16 {
  width: 100px;
  margin-top: 0px;
  margin-left: 41px;
}

.image-17 {
  width: 50px;
  margin-top: 89px;
  margin-left: 21px;
  opacity: 0.5;
}

.image-18 {
  width: 110px;
  margin-top: 0px;
  margin-left: -50vw;
  -webkit-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  transform: rotate(-17deg);
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 10px;
  padding-left: 10px;
  background-image: url('../images/2023-vector.svg');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-span.center {
  background-position: 50% 50%;
}

.inline-link {
  color: #00c3a9;
}

.div-block-26 {
  background-image: url('../images/border-new.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-19 {
  width: 101%;
  max-width: 102%;
  margin-top: 0px;
  margin-bottom: -10px;
  margin-left: -0.5%;
}

.section-hero-mobile {
  display: none;
}

.div-block-27 {
  display: none;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .fs-styleguide_4-col {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hide-tablet {
    display: none;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .fs-styleguide_3-col {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .padding-global {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .hero_video-wrap {
    margin-top: -400px;
  }

  .div-block-2 {
    width: 100%;
    height: auto;
    margin-top: 400px;
  }

  .heading {
    line-height: 100px;
  }

  .section-neglect {
    margin-top: 400px;
  }

  .div-block-6 {
    width: 100%;
  }

  .div-block-7 {
    width: 100%;
  }

  .link-block {
    padding: 15px 20px;
  }

  .image-6 {
    width: 80px;
    margin-top: -144px;
    margin-right: 10px;
    margin-left: -113vw;
  }

  .image-7 {
    display: none;
    margin-right: 22px;
    margin-bottom: -117px;
    margin-left: 81px;
  }

  .image-8 {
    margin-top: -108px;
  }

  .div-block-21.hide-mobile {
    display: none;
  }

  .image-9 {
    width: 70px;
    margin-left: 55px;
  }

  .image-10 {
    margin: 33px 62px 33px -51px;
  }

  .image-11 {
    display: none;
  }

  .image-12 {
    display: none;
    width: 70px;
    margin-top: 22px;
    margin-left: 71px;
  }

  .image-13 {
    margin-top: 166px;
    margin-left: 0px;
  }

  .image-19 {
    width: 102%;
    max-width: 110%;
    margin-top: 0px;
    margin-left: -1%;
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .fs-styleguide_section-header {
    font-size: 0.875rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .fs-styleguide_version {
    font-size: 0.875rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .heading-style-h6 {
    font-size: 0.75rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .heading-style-h5 {
    font-size: 0.875rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .hero_wrap {
    height: 100vh;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hero_video-wrap {
    height: 100%;
  }

  .div-block-2 {
    height: auto;
    margin-top: 451px;
  }

  .heading {
    font-size: 70px;
    line-height: 70px;
  }

  .heading.line0heirgh {
    line-height: 80px;
  }

  .section-neglect {
    margin-top: 0px;
  }

  .div-block-8 {
    width: 60%;
  }

  .div-block-12 {
    width: 35%;
  }

  .div-block-16.hidden {
    width: 35%;
  }

  .image-8 {
    margin-top: -31px;
  }

  .image-9 {
    margin-left: 38px;
  }

  .image-13 {
    margin-top: 42px;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .padding-left {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .margin-horizontal {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-right {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .margin-right {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .padding-global {
    padding-right: 0.55rem;
    padding-left: 0.55rem;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .margin-left {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
  }

  .padding-horizontal {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .margin-vertical {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .section-hero {
    display: none;
  }

  .hero_wrap {
    padding-top: 1rem;
  }

  .hero_video-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .div-block-2 {
    width: 97%;
    margin-top: 40px;
    border-width: 10px;
  }

  .div-block-3 {
    margin-bottom: 0px;
  }

  .heading {
    font-size: 60px;
    line-height: 60px;
  }

  .heading.line0heirgh {
    font-size: 50px;
    line-height: 50px;
  }

  .div-block-5 {
    width: 100%;
    margin-top: 0px;
  }

  .div-block-8 {
    width: 100%;
  }

  .div-block-9 {
    width: 100%;
  }

  .div-block-10 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .div-block-12 {
    width: 100%;
  }

  .div-block-13 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image {
    width: 15px;
  }

  .div-block-16 {
    width: 100%;
    margin-top: 20px;
  }

  .div-block-16.hidden {
    display: none;
  }

  .div-block-16.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .link-block {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .div-block-17 {
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .image-6 {
    width: 50px;
    margin: -49px 20px 0px 0px;
    opacity: 0.6;
  }

  .image-7 {
    display: block;
    margin-right: 46px;
    margin-left: -209px;
    padding-right: 0px;
  }

  .image-8 {
    width: 50px;
    margin: 4px 0px 0px 35px;
    opacity: 0.6;
  }

  .div-block-21 {
    height: auto;
  }

  .image-9 {
    margin: 0px 20px 0px 40px;
    opacity: 0;
  }

  .image-10 {
    margin: 0px;
    opacity: 1;
  }

  .image-13 {
    margin: -30px -91px 0px 35px;
    opacity: 0.6;
  }

  .image-18 {
    width: 70px;
    margin-bottom: -108px;
  }

  .section-hero-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .div-block-27 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: -17px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-28 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-29 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-20 {
    width: 80px;
  }

  .h6-benefit {
    font-weight: 600;
  }
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a89b-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a8a0-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a8a5-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a8aa-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a8b0-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a8b6-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a8bc-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a9c9-78516133 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a9e2-78516133 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a9e5-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a9e7-78516133 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256a9ea-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aa53-78516133 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aa5d-78516133 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aa5e-78516133 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aacc-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aad1-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aad6-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aadb-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aae0-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aae5-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aaef-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aaf4-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aaf9-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aafe-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab03-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab08-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab0d-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab12-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab17-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab1c-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab21-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab25-78516133 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab26-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab28-78516133 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab2b-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab30-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab35-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab4a-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab4f-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab54-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab59-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab5e-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab63-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab6d-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab72-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab77-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab7c-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab81-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab86-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab8b-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab90-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab95-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab9a-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ab9f-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aba3-78516133 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aba4-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256aba9-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256abae-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256abb3-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ac39-78516133 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_65c11641-b6cb-9388-4084-3422f256ac95-78516133 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@font-face {
  font-family: 'Varelaroundprecious';
  src: url('../fonts/VarelaRoundPrecious-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Varelaroundprecious';
  src: url('../fonts/VarelaRoundPrecious-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Varelaroundprecious';
  src: url('../fonts/VarelaRoundPrecious-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Preciousplasticfont';
  src: url('../fonts/PreciousplasticFont-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Preciousplasticfont';
  src: url('../fonts/PreciousPlasticFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Preciousplasticfont';
  src: url('../fonts/PreciousPlasticFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-HeavyItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-RegularItalic.otf') format('opentype'), url('../fonts/Klima-UltraItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima ultra';
  src: url('../fonts/Klima-Ultra.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-UltralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Klima';
  src: url('../fonts/Klima-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}