.landing {
  display: block;
  width: 95%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.div-hero {
  padding-top: 0px;
}

.press.version {
    padding: 10px 0px;
    text-align: center;
    background-color: #ff8888;
    color: white;
    font-size: 18px;
}

.press.version p {
margin-bottom: 0px;
}

.div-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contain-video {
  width: 750px;
  max-width: 900px;
  padding-right: 40px;
  padding-left: 40px;
}

.promovideo {
  height: 100%;
  margin-bottom: 1px;
}

.logo {
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.logotop{
  width:120px;
}

.logobottom {
  width:150px;
}

.h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #55585a;
  line-height: 65px;
  text-align: center;
}

.h1.subheading {
  overflow: hidden;
  margin-top: -5px;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 30px;
}

.h1.h1mobile {
  display: none;
}

.h1.h1started {
  margin-bottom: 0px;
  padding-top: 50px;
  font-size: 50px;
}

.h1.align-left {
  float: none;
  text-align: left;
}

.h1.support-header {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-left: 0%;
  color: #fff;
  font-size: 70px;
  line-height: 80px;
  text-align: left;
}

.h1.support-header.plantitle {
  width: 80%;
  margin-bottom: 20px;
  padding-left: 0%;
}

.h1.white {
  margin-bottom: 50px;
  color: #f2f6f8;
}

.body {
  background-color: #f2f6f8;
}

.div-cta {
  width: 23%;
  margin-left: 20px;
  padding-bottom: 10px;
  float: right;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #55585a;
  font-size: 30px;
}

.h2.primary {
  margin-bottom: 15px;
  color: #00bfa5;
  line-height: 30px;
}

.h2.primary.center {
  text-align: center;
}

.h2.red {
  color: #f58d8e;
}

.h2.light-green {
  color: #a7e9d5;
}

.h2.purple {
  color: #c1adec;
}

.h2.blue {
  color: #7f94d8;
}

.h2.yellow {
  color: #ffe69d;
}

.h2.orange {
  color: #f3a05e;
}

.h2.light-blue {
  color: #83ceeb;
}

.h2.plan {
  font-size: 60px;
}

.h2.h2-support {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.paragraph {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #55585a;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}

.paragraph.hidden {
  display: block;
}

.paragraph.hiddendesktop {
  display: none;
}

.div-stats {
  margin-bottom: 1px;
}

.div-progress {
  margin-top: 10px;
  padding-bottom: 10px;
}

.h3 {
  width: 18%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  text-align: right;
}

.h3.h3-people {
  width: 20%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  color: #00bfa5;
  line-height: 25px;
}

.h3.h3-money {
  width: 14%;
  margin-top: 0px;
  margin-left: 0px;
  color: #00bfa5;
  line-height: 25px;
}

.div-percentage {
  display: block;
  width: 70%;
  height: 12px;
  float: left;
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  background-color: #fff;
}

.percentage-people {
  width: 16%;
  height: 10px;
  border-radius: 100px;
  background-color: #00bfa5;
}

.percentage-money {
  width: 8%;
  height: 10px;
  border-radius: 100px;
  background-color: #00bfa5;
}

.img-people {
  margin-top: -25px;
  padding-top: 1px;
  float: right;
}

.img-money {
  margin-top: -25px;
  float: right;
}

.cta {
  width: 100%;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: #00bfa5;
  -webkit-transition: box-shadow 200ms ease, top 200ms ease;
  transition: box-shadow 200ms ease, top 200ms ease;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.cta:hover {
  background-color: #12cab1;
  box-shadow: 0 1px 11px 0 #9aa0a3;
}

.cta:active {
  margin-top: 15px;
}

.plan {
  height: auto;
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #fff;
}

.link {
  display: none;
  height: 40px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #9aa0a3;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.link:hover {
  text-decoration: underline;
}

.link.watchfull {
  display: block;
}

.div-center {
  margin-top: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
}

.div-right-device {
  margin-top: 25px;
  text-align: center;
}

.h5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: rgba(154, 160, 163, 0.5);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.h5:hover {
  text-decoration: underline;
}

.container {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.plan-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 150px;
  margin-bottom: 100px;
  padding-top: 1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.plan-element.hidden-desktop {
  display: none;
}

.divleft {
  width: 50%;
  margin-right: 7%;
}

.divright {
  width: 50%;
}

.img-plan {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.link-block {
  display: inline-block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
}

.link-block.link-homepage {
  padding: 5px 20px;
  margin-bottom: 50px;
}

.h6 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.h6.lightblue {
  margin-right: 0px;
  color: #83ceeb;
}

.h6.lightgreen {
  display: none;
  color: #a7e9d5;
}

.h6.yellow {
  display: block;
  background-color: transparent;
  color: #ffe69d;
}

.h6.red {
  color: #f58d8e;
}

.h6.grey {
  color: #9aa0a3;
}

.h6.link-text {
  display: inline-block;
  color: #f58d8e;
}

.h6.link-text.watchvideo {
  color: #9aa0a3;
}

.arrow {
  margin-top: -3px;
  margin-left: 10px;
}

.world {
  padding-top: 100px;
  padding-bottom: 0px;
}

.party {
  display: block;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.slideshow {
  height: 800px;
  max-height: 800px;
  margin-top: 20px;
}

.slide1 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/01.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/01.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.slide2 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/02.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/02.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.slide3 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/03.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/03.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.slide4 {
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/04.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/04.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.country-icon {
  display: block;
  margin-top: 580px;
  margin-right: auto;
  margin-left: auto;
}

.bananas {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f2f6f8;
}

.map {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #f2f6f8;
}

.map-gif {
  margin-bottom: 50px;
}

.h4 {
  display: block;
  width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #55585a;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

.h4.status {
  width: 100%;
  margin-bottom: 20px;
  color: #55585a;
  font-size: 20px;
  text-align: left;
}

.h4.h4-support {
  text-align: left;
}

.h4.h4-support.white {
  color: #fff;
}

.support {
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: #fff;
}

.tabs-menu {
  z-index: 999;
  display: block;
  overflow: visible;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.tab-link {
  position: relative;
  padding: 25px 100px 40px;
  background-color: #fff;
  font-family: 'Varela Round', sans-serif;
  color: #55585a;
  font-size: 60px;
}

.tab-link:hover {
  color: #00bfa5;
}

.tab-link.w--current {
  position: relative;
  top: 0px;
  bottom: 0px;
  z-index: 9999;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid solid none;
  border-width: 2px 2px 10px;
  border-color: #00bfa5 #00bfa5 #f2f6f8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f2f6f8;
  color: #00bfa5;
}

.moneytab {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.peopletab {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.tabs {
  margin-top: 50px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.tabpane {
  z-index: 5;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
  border-top: 2px solid #00bfa5;
  background-color: #f2f6f8;
}

.tabpane.red {
  z-index: 0;
}

.support-link {
  display: block;
  width: 80%;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.support-link.red {
  border: 2px solid #f58d8e;
  border-radius: 0px;
  box-shadow: 0px 10px 20px 0 rgba(154, 160, 163, 0.5);
}

.support-link.red:hover {
  box-shadow: 0px 20px 30px 0 rgba(154, 160, 163, 0.5);

}

.support-link.light-green {
  border: 2px solid #a7e9d5;
  box-shadow: 0px 10px 20px 0 rgba(154, 160, 163, 0.5);
}

.support-link.light-green:hover {
  box-shadow: 0px 20px 30px 0 rgba(154, 160, 163, 0.5);

}


.support-link.purple {
  border: 2px solid #c1adec;
  box-shadow: 0px 10px 20px 0 rgba(154, 160, 163, 0.5);

}

.support-link.purple:hover {
  box-shadow: 1px 1px 11px 0 #9aa0a3;
  box-shadow: 0px 20px 30px 0 rgba(154, 160, 163, 0.5);

}

.support-link.blue {
  border: 2px solid #7f94d8;
  box-shadow: 0px 10px 20px 0 rgba(154, 160, 163, 0.5);

}

.support-link.blue:hover {
  box-shadow: 0 1px 11px 0 #9aa0a3;
  box-shadow: 0px 20px 30px 0 rgba(154, 160, 163, 0.5);

}


.support-link.orange {
  border: 3px solid #f3a05e;
  transition: background-position 750ms ease;
  box-shadow: 0px 10px 20px 0 rgba(154, 160, 163, 0.5);

}

.support-link.orange:hover {
  box-shadow: 1px 1px 11px 0 #9aa0a3;
  box-shadow: 0px 20px 30px 0 rgba(154, 160, 163, 0.5);

}

.support-link.light-blue {
  border: 2px solid #83ceeb;
  box-shadow: 0px 10px 20px 0 rgba(154, 160, 163, 0.5);

}

.support-link.light-blue:hover {
  box-shadow: 0 1px 11px 0 #9aa0a3;
  box-shadow: 0px 20px 30px 0 rgba(154, 160, 163, 0.5);

}

.support-link.grey {
  border: 2px solid #838383;
  box-shadow: 0px 10px 20px 0 rgba(154, 160, 163, 0.5);

}

.support-link.grey {
  box-shadow: 0 1px 11px 0 #838383;
  box-shadow: 0px 20px 30px 0 rgba(154, 160, 163, 0.5);

}

.support-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-transition: opacity 750ms ease;
  transition: opacity 750ms ease;
  text-decoration: none;
}

.support-element.light-blue {
  border: 2px solid #83ceeb;
}

.div-right {
  width: 80%;
  margin-left: 20px;
}

.div-left {
  width: 20%;
}

.img-support {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.intro-bg {
  height: 500px;
}

.intro-bg.blue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #7f94d8;
  background-image: url('../images/icon_community.png');
  background-position: 50% 66%;
  background-size: 250px;
  background-attachment: fixed;
  text-transform: none;
}

.intro-bg.light-green {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #a7e9d5;
  background-image: url('../images/icon_code-1.png');
  background-position: 0px 0px;
  background-size: 250px;
}

.intro-bg.light-blue {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #83ceeb;
  background-image: url('../images/icon_design.png');
  background-position: 0px 0px;
  background-size: 250px;
  background-attachment: fixed;
}

.intro-bg.purple {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #c1adec;
  background-image: url('../images/icon_award.png');
  background-position: 0px 0px;
  background-size: 250px;
  background-attachment: fixed;
}

.intro-bg.red {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f58d8e;
  background-image: url('../images/icon_engineer.png');
  background-position: 50% 50%;
  background-size: 250px;
  background-attachment: fixed;
}

.intro-bg.orange {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3a05e;
  background-image: url('../images/icon_business.png');
  background-position: 0px 0px;
  background-size: 250px;
  background-attachment: fixed;
}

.intro-bg.primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #00bfa5;
  background-image: url('../images/icon_engineer.png');
  background-position: 0px 0px;
  background-size: 250px;
}

.description {
  padding-top: 100px;
  /*padding-bottom: 100px;*/
  border: 1px solid #000;
}

.description.blue {
  /*padding-bottom: 50px;*/
  border-width: 10px;
  border-color: #7f94d8;
  border-top-style: none;
}

.description.light-green {
  /*padding-bottom: 50px;*/
  border-width: 10px;
  border-color: #a7e9d5;
  border-top-style: none;
}

.description.light-blue {
  /*padding-bottom: 50px;*/
  border-width: 10px;
  border-color: #83ceeb;
  border-top-style: none;
}

.description.purple {
  /*padding-bottom: 50px;*/
  border-width: 10px;
  border-color: #c1adec;
  border-top-style: none;
}

.description.red {
  /*padding-bottom: 50px;*/
  border-width: 10px;
  border-color: #f58d8e;
  border-top-style: none;
}

.description.orange {
  /*padding-bottom: 50px;*/
  border-width: 10px;
  border-color: #f3a05e;
  border-top-style: none;
}

.open {
  color: #2cc26e;
  font-weight: 400;
}

.paragraph-support {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #9aa0a3;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  color: #55585a;
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
  text-decoration: none;
}

.paragraph-support.plantext {
  font-size: 16px;
  line-height: 32px;
}

.link-support.blue {
  color: #7f94d8;
}

.link-support.light-green {
  color: #a7e9d5;
}

.link-support.light-blue {
  color: #83ceeb;
}

.link-support.purple {
  color: #c1adec;
}

.link-support.red {
  color: #f58d8e;
}

.link-support.orange {
  color: #f3a05e;
}

.link-support.primary {
  color: #00bfa5;
}

.arrow-left {
  margin-top: -4px;
  margin-right: 5px;
}

._5 {
  background-color: transparent;
  color: #c1adec;
  font-size: 24px;
  font-weight: 700;
}

.closed {
  color: #eb3838;
}

.arrow-design {
  margin-top: -3px;
  margin-left: 10px;
}

.arrow-code {
  display: none;
  margin-top: -3px;
  margin-left: 10px;
}

.arrow-starter {
  display: inline-block;
  margin-top: -3px;
  margin-left: 10px;
}

.arrow-business {
  margin-top: -3px;
  margin-left: 10px;
}

.moneyandpeople {
  border-bottom: 1px solid #55585a;
  color: #55585a;
  text-decoration: none;
}

.moneyandpeople:hover {
  border-bottom-color: #9aa0a3;
  color: #9aa0a3;
}

.planbody {
  padding-top: 0px;
  padding-bottom: 20px;
  border: 10px solid #00bfa5;
}

.planlist {
  display: block;
  width: 80%;
  margin: 50px auto 40px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #3aa1ff;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
}

.url {
  color: #3290e6;
  text-decoration: none;
}

.banana-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  display: none;
  float: none;
}

.banana-img {
  display: inline-block;
  width: 60px;
  float: none;
}

.banana-div {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  display: block;
}

.money-and-people {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  text-align: center;
}

.explainer {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.bubble {
  position: static;
  z-index: 1000;
  display: block;
  width: 65%;
  max-width: 700px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 50px;
  border-radius: 5px;
  background-color: #fff;
}

.close-x {
  margin-top: 20px;
}

.arrows {
  display: block;
  width: 100%;
  max-width: 1500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f6f8;
}

.div-arrow {
  background-color: #f2f6f8;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #313131;
}

.div-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.twitter-block {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.share-button {
  display: block;
  width: 100px;
  height: 100px;
}

.share-button.twitter {
  display: block;
  width: 75px;
  height: 75px;
  margin-right: 50px;
  margin-left: 50px;
  background-image: url('../images/twitter.png');
  background-position: 50% 50%;
  background-size: cover;
}

.share-button.facebook {
  width: 75px;
  height: 75px;
  margin-right: 50px;
  margin-left: 50px;
  background-image: url('../images/fb.png');
  background-position: 50% 50%;
  background-size: cover;
}

.hidden-social {
  display: none;
}

.fb-block {
  margin-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.embedd {
  display: inline;
  margin-right: auto;
  margin-left: auto;
}

.link-started {
  color: #55585a;
  cursor: pointer;
}

.div-arrows {
  background-color: #f2f6f8;
}

.embedd-typeform {
  display: block;
  width: 80%;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.typeform-widget {
  height: 100%;
}

.lower-opacity {
  opacity: 0.6;
}

.urgent{
  display: inline-block;
  margin-top: -200px;
  margin-left: -50px;
}

.h2.primary{
  margin-bottom: 10px;
  line-height: 25px;
}


@media (max-width: 991px) {
  .div-video {
    display: block;
  }
  .contain-video {
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }
  .h1.support-header.plantitle {
    font-size: 60px;
  }
  .h1.white {
    width: 90%;
  }
  .div-cta {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    float: none;
  }
  .h2 {
    margin-top: 50px;
    text-align: center;
  }
  .h2.primary {
    margin-top: 0px;
    float: none;
    text-align: center;
  }
  .h2.red {
    margin-top: 0px;
    text-align: left;
  }
  .h2.light-green {
    margin-top: 0px;
    text-align: left;
  }
  .h2.purple {
    margin-top: 0px;
    float: left;
  }
  .h2.blue {
    margin-top: 0px;
    float: left;
  }
  .h2.orange {
    margin-top: 0px;
    float: left;
  }
  .h2.light-blue {
    margin-top: 0px;
    float: left;
  }
  .h2.h2-support {
    text-align: left;
  }
  .paragraph {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    float: none;
    clear: left;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
  .paragraph.align-left {
    text-align: left;
  }
  .link.watchfull {
    display: none;
  }
  .div-center {
    display: block;
    margin-top: 0px;
  }
  .div-center.negative-padding {
    margin-top: 0px;
  }
  .div-left-device {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .div-right-device {
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .plan-element {
    margin-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .plan-element.hidden {
    display: none;
  }
  .plan-element.hidden-desktop {
    display: block;
    text-align: center;
  }
  .divleft {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .divright {
    display: block;
    width: 70%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .link-block {
    text-align: center;
  }
  .world {
    padding-top: 0px;
  }
  .party {
    margin-bottom: 30px;
  }
  .slideshow {
    height: 700px;
  }
  .country-icon {
    margin-top: 480px;
  }
  .bananas {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .map {
    padding-bottom: 50px;
  }
  .map-gif {
    margin-bottom: 50px;
  }
  .tabs-menu {
    position: relative;
  }
  .tab-link {
    width: 50%;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
  }
  .tab-link.w--current {
    width: 48%;
  }
  .tabpane {
    padding-top: 50px;
  }
  .div-right {
    text-align: left;
  }
  .intro-bg.blue {
    height: 400px;
  }
  .intro-bg.light-green {
    height: 400px;
  }
  .intro-bg.light-blue {
    height: 400px;
  }
  .intro-bg.purple {
    height: 400px;
  }
  .intro-bg.red {
    height: 400px;
  }
  .intro-bg.orange {
    height: 400px;
  }
  .intro-bg.primary {
    height: 400px;
  }
  .description.blue {
    padding-bottom: 30px;
  }
  .description.light-green {
    padding-bottom: 30px;
  }
  .description.light-blue {
    padding-bottom: 30px;
  }
  .description.purple {
    padding-bottom: 30px;
  }
  .description.red {
    padding-bottom: 30px;
  }
  .description.orange {
    padding-bottom: 30px;
  }
  .paragraph-support {
    margin-bottom: 30px;
  }
  .link-started {
    cursor: pointer;
  }
  .urgent{
    margin-left: -70px;
  }

}

@media (max-width: 767px) {
  .h1 {
    margin-bottom: 0px;
    text-align: center;
  }
  .h1.subheading {
    margin-top: 0px;
  }
  .h1.h1started {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 42px;
    line-height: 57px;
  }
  .h1.support-header {
    width: 90%;
    margin-bottom: 20px;
    font-size: 50px;
  }
  .h1.support-header.plantitle {
    width: 90%;
    font-size: 50px;
  }
  .h1.white {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .div-cta {
    width: 100%;
  }
  .h2.primary {
    margin-top: 0px;
  }
  .h2.red {
    font-size: 26px;
  }
  .h2.light-green {
    max-width: 0px;
    font-size: 26px;
  }
  .h2.purple {
    font-size: 26px;
  }
  .h2.blue {
    font-size: 26px;
  }
  .h2.orange {
    font-size: 26px;
  }
  .h2.light-blue {
    font-size: 26px;
  }
  .h2.h2-support {
    width: 90%;
  }
  .paragraph.align-left {
    font-size: 16px;
    line-height: 24px;
  }
  .plan {
    padding-top: 50px;
  }
  .div-left-device {
    width: 80%;
  }
  .div-right-device {
    width: 80%;
  }
  .divleft {
    width: 80%;
  }
  .divright {
    width: 80%;
  }
  .slideshow {
    height: 500px;
  }
  .country-icon {
    margin-top: 280px;
  }
  .bananas {
    padding-top: 0px;
  }
  .banana {
    padding-right: 15px;
    padding-left: 15px;
  }
  .h4 {
    width: 80%;
    font-size: 20px;
    line-height: 30px;
  }
  .h4.h4-support {
    width: 90%;
  }
  .div-right {
    width: 90%;
  }
  .intro-bg.blue {
    height: 300px;
  }
  .intro-bg.light-green {
    height: 300px;
  }
  .intro-bg.light-blue {
    height: 300px;
  }
  .intro-bg.purple {
    height: 300px;
  }
  .intro-bg.red {
    height: 300px;
  }
  .intro-bg.orange {
    height: 300px;
  }
  .description.blue {
    padding-top: 50px;
    padding-left: 0px;
  }
  .description.light-green {
    padding-top: 50px;
  }
  .description.light-blue {
    padding-top: 50px;
  }
  .description.purple {
    padding-top: 50px;
  }
  .description.red {
    padding-top: 50px;
  }
  .description.orange {
    padding-top: 50px;
  }
  .paragraph-support {
    display: block;
    width: 90%;
    font-size: 17px;
  }
  .money-and-people {
    display: none;
  }
  .bubble {
    overflow: hidden;
    width: 90%;
  }
  .embedd-typeform {
      width: 90%;
      margin-bottom: 50px;
    }
    .urgent{
      display: none;
    }
  }
@media (max-width: 479px) {
  .landing {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .custom-container {
    display: block;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
  .div-hero {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
  }
  .logo {
    display: block;
    width: 150px;
    margin: 0px auto;
  }

  .logotop{
  width:100px;
  margin-bottom:15px;
}
  .h1 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Varela Round', sans-serif;
    color: #55585a;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
  }
  .h1.subheading {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 23px;
  }
  .h1.h1mobile {
    display: block;
    font-size: 30px;
    line-height: 35px;
  }
  .h1.hidden {
    display: none;
  }
  .h1.h1started {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
    line-height: 40px;
  }
  .h1.support-header {
    font-size: 30px;
    line-height: 40px;
  }
  .h1.support-header.plantitle {
    font-size: 37px;
    line-height: 47px;
  }
  .body {
    background-color: #f2f6f8;
  }
  .div-cta {
    width: 96%;
  }
  .h2 {
    margin-top: 30px;
  }
  .h2.primary {
    margin-bottom: 5px;
  }
  .h2.primary.center {
    margin-bottom: 0px;
    font-size: 24px;
  }
  .h2.left-align {
    text-align: center;
  }
  .h2.red {
    padding-top: 1px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .h2.light-green {
    display: block;
    max-width: none;
    float: none;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .h2.purple {
    font-size: 24px;
    line-height: 30px;
  }
  .h2.blue {
    float: none;
    font-size: 24px;
    line-height: 30px;
  }
  .h2.orange {
    font-size: 24px;
    line-height: 30px;
  }
  .h2.light-blue {
    font-size: 24px;
    line-height: 30px;
  }
  .h2.h2-support {
    font-size: 25px;
    line-height: 35px;
  }
  .paragraph {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
  }
  .paragraph.mobilep {
    display: block;
  }
  .paragraph.hidden {
    display: none;
  }
  .paragraph.hiddendesktop {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  .paragraph.align-left {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .cta {
    margin-bottom: 40px;
  }
  .plan {
    padding-top: 50px;
  }
  .link {
    margin-top: 0px;
  }
  .div-center {
    margin-top: 0px;
  }
  .div-center.negative-padding {
    margin-top: -50px;
  }
  .div-left-device {
    width: 100%;
  }
  .div-right-device {
    width: 95%;
    margin-top: 30px;
  }
  .plan-element {
    margin-top: 50px;
  }
  .divleft {
    width: 90%;
  }
  .divright {
    width: 90%;
  }
  .link-block {
    float: none;
    text-align: center;
  }
  .link-block.watchvideo {
    display: none;
  }
  .world {
    padding-top: 0px;
  }
  .slideshow {
    height: 400px;
  }
  .country-icon {
    width: 100px;
    margin-top: 275px;
  }
  .bananas {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .map {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banana {
    padding-right: 30px;
    padding-left: 30px;
  }
  .h4 {
    width: 95%;
    font-size: 18px;
    line-height: 30px;
  }
  .support {
    padding-top: 50px;
  }
  .tab-link {
    display: inline-block;
    overflow: visible;
    width: 50%;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    clear: none;
    font-size: 24px;
  }
  .tab-link.w--current {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 24px;
    text-align: center;
  }
  .moneytab {
    width: 50px;
  }
  .peopletab {
    width: 50px;
  }
  .tabs {
    overflow: visible;
    clear: none;
  }
  .tabpane {
    padding-top: 20px;
  }
  .support-element {
    padding-right: 5px;
    padding-left: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .div-right {
    width: 90%;
    margin-left: 0px;
    text-align: left;
  }
  .div-left {
    width: 40%;
  }
  .img-support {
    width: 50px;
  }
  .intro-bg.blue {
    height: 250px;
    background-position: 0px 59px;
  }
  .intro-bg.light-green {
    height: 250px;
    background-position: 0px 18px;
  }
  .intro-bg.light-blue {
    height: 250px;
    background-position: 11px 18px;
  }
  .intro-bg.purple {
    height: 250px;
    background-position: 87px -175px;
  }
  .intro-bg.red {
    height: 250px;
    background-position: 0px 59px;
  }
  .intro-bg.orange {
    height: 250px;
    background-position: 56px 25px;
  }
  .description.blue {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 0px;
  }
  .paragraph-support {
    width: 90%;
    font-size: 16px;
    line-height: 26px;
  }
  .banana-div {
    display: none;
  }
  .money-and-people {
    display: none;
  }
  .bubble {
    padding: 10px;
  }
  .close-x {
    display: none;
  }
  .div-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .share-button.twitter {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .share-button.facebook {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .embedd-typeform {
      width: 90%;
      height: 450px;
    }
}
