.next-creating-an-army {
  height: auto;
}

.next-video {
  position: relative;
  display: block;
  width: 50%;
  margin: -20vh auto 0vh;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
}

.v4-video {
  display: block;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.next-v4-coming {
  max-width: 1920px;
  margin-top: 201px;
  margin-bottom: 201px;
}

.v4-is-coming {
  display: block;
  width: 80%;
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
}

.assets-gif {
  position: relative;
  display: block;
  width: 200px;
  margin: 0px auto;
  padding: 0px;
  float: none;
  border-radius: 3px;
}

.next-v4-what-we-have {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.next-v4-container {
  display: block;
  width: 98%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.asset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  margin: 0px auto 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.asset-text-wrapper {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.p-assets {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  color: #484b4d;
  line-height: 25px;
}

.p-assets.extra-margin {
  margin-left: 5px;
}

.h1-assets {
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
}

.asset-content-wrapper {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.next-v4-arrow-down {
  display: block;
  margin: 0px 200px 100px 45px;
  float: right;
  clear: both;
  -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.next-v4-pick-task {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.project-top-positions-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.emoji-products {
  margin-left: 20px;
}

.link-position-next {
  position: relative;
  z-index: 2;
  text-decoration: none;
  cursor: pointer;
}

.category-wrapper {
  position: relative;
  z-index: 3;
  display: block;
  width: 60%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  padding: 25px;
  border-radius: 3px;
  box-shadow: none;
}

.category-wrapper.web {
  display: block;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.category-wrapper.machines {
  z-index: 10;
  margin-bottom: 100px;
  background-color: transparent;
  box-shadow: none;
}

.project-position-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-position-wrapper.sorting-eng {
  display: block;
  opacity: 0;
}

.project-position-wrapper.cleaning-des {
  opacity: 0;
}

.project-position-wrapper.business-chap {
  opacity: 100;
}

.project-position-wrapper.styr-des {
  opacity: 1;
}

.project-position-wrapper.safety-res {
  display: block;
  margin-right: 0px;
  opacity: 0;
}

.project-position-wrapper.foil-des {
  display: block;
  opacity: 1;
}

.project-position-wrapper. {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.project-position-wrapper.cleaning-eng {
  display: block;
  opacity: 1;
}

.project-position-wrapper.brand-des {
  opacity: 1;
}

.project-position-wrapper.arduino-des {
  display: block;
  opacity: 0;
}

.project-position-wrapper.frontend-2 {
  opacity: 0;
}

.project-position-wrapper.sheet-des-1 {
  display: block;
  opacity: 0;
}

.project-position-wrapper.store-manager {
  opacity: 1;
}

.project-position-wrapper.sorting-des {
  display: block;
  opacity: 0;
}

.project-position-wrapper.fullstack {
  opacity: 1;
}

.project-position-wrapper.extrusion-eng {
  display: block;
  opacity: 1;
}

.project-position-wrapper.sheet-des-2 {
  display: block;
  opacity: 1;
}

.project-position-wrapper.fun-manager {
  opacity: 1;
}

.project-position-wrapper.chef-1 {
    display: block;
    opacity: 1;
}

.project-position-wrapper.coordinator {
  opacity: 1;
}

.project-position-wrapper.pet-des {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.project-position-wrapper.backend-2 {
  opacity: 0;
}

.project-position-wrapper.robotic-geek-1 {
  display: block;
  opacity: 0;
}

.project-position-wrapper.foil-eng {
  display: block;
  opacity: 0;
}

.project-position-wrapper.activist-2 {
  position: relative;
  opacity: 100%;
  text-align: center;
}

.project-position-wrapper.frontend-1 {
  opacity: 1;
}

.project-position-wrapper.chef-3 {
  margin-right: -20px;
  opacity: 0;
}

.project-position-wrapper.chef-2 {
  opacity: 1;
}

.project-position-wrapper.ui-des {
  display: block;
  opacity: 1;
}

.project-position-wrapper.beyond-eng {
  opacity: 1;
}

.project-position-wrapper.doc-photo {
  display: block;
  opacity: 0;
}

.project-position-wrapper.pet-eng {
  opacity: 0;
}

.project-position-wrapper.activist-1 {
  opacity: 1;
}

.project-position-wrapper.backend-1 {
  opacity: 0;
}

.project-position-wrapper.beyond-des {
  opacity: 1;
}

.project-position-wrapper.web-des-ux {
  display: block;
  opacity: 1;
}

.project-position-wrapper.pr-extr-des {
  display: block;
  opacity: 1;
}

.project-position-wrapper.styr-eng {
  display: block;
  opacity: 1;
}
.project-position-wrapper.shredder-eng-1 {
  display: block;
  opacity: 1;
}

.project-position-wrapper.sheet-eng {
display: block;
  opacity: 1;
}

.project-position-wrapper.extrusion-des {
  opacity: 1;
}

.project-position-wrapper.pr-extr-des-2 {
  opacity: 1;
}

.project-position-wrapper.robotics-geek-2 {
  opacity: 1;
}

.project-position-wrapper.arduino-eng {
  display: block;
  opacity: 0;
}

.project-position-wrapper.dirty-des {
  opacity: 0;
}

.project-position-wrapper.dirty-eng {
  margin-right: -10px;
  opacity: 1;
}

.project-position-wrapper.safety-eng {
  margin-right: -10px;
  opacity: 0;
}

.project-position-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #00c3a9;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.project-position-text.green {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #00c3a9;
}

.p-project-next {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #484b4d;
  font-size: 15px;
}

.project {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-top: 100px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: none;
  border-width: 1px;
  border-color: rgba(235, 89, 89, .2);
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 15px -2px rgba(0, 0, 0, .3);
}

.emoji-machines {
  margin-top: 0px;
  margin-left: 20px;
}

.projects-category {
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects-category.cherries {
  margin-top: 300px;
  margin-bottom: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.projects-category.web {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #c1adec;
}

.projects-category.products {
  height: auto;
  margin-top: 150px;
  margin-bottom: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.projects-category.machines {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f58d8e;
}

.category-header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.h4-project-priority {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #f58d8e;
  font-size: 16px;
  font-weight: 400;
}

.h4-project-priority.hidden-opacity {
  opacity: 0;
}

.inline-links {
  font-family: 'Open Sans', sans-serif;
  color: #f58d8e;
  cursor: pointer;
}

.emoji-cherry {
  margin-left: 20px;
}

.h1-project {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
}

.h4-project-duration {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #83ceeb;
  font-size: 12px;
  font-weight: 400;
}

.project-position-pic {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  border: 1px solid #f58d8e;
  border-radius: 100px;
  background-color: #dbe3ec;
  background-image: url('../images/example-bg.png'), url('../images/profile.png');
  background-position: 0px 0px, 50% 50%;
  background-size: 125px, 15px;
  background-repeat: repeat, repeat;
}

.project-position-pic.business-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/business.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.shredder-eng-pic-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/albert.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.project-position-pic.shredder-eng-pic-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/friedrich.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.activist-2-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/activist-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.robotics-geek-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/bradford.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.sheet-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/jason-knight.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.project-position-pic.pet-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/profile.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.pr-extr-designer-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/timslab.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.project-position-pic.pr-extr-designer-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/mireia.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.extr-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/nate.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.project-position-pic.sort-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/profile.png');
  background-position: 50% 50%;
  background-size: 15px;
  background-repeat: repeat;
}

.project-position-pic.pet-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/10838182_10204106640131811_8439167785773366112_o.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.branding-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/charlotte.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.chef-2-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.project-position-pic.fullstack-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/chris.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.styr-eng-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/carolina.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.project-position-pic.doc-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.project-position-pic.safety-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/pp.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.project-position-pic.web-designer-ux {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/saskia.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.frontend-1-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/benjamin.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.arduino-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/profile.png');
  background-position: 50% 50%;
  background-size: 15px;
  background-repeat: repeat;
}

.project-position-pic.foils-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/foils-des.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.backend-1-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/pp.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.fun-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/herzog.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.clean-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/ananyabrata.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.store-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/mai.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.beyond-engineer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/yannis.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.project-position-pic.foils-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/profile.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.extr-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/peter.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.ui-designer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/nicolas.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.dirty-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/10624936_571331439645910_6570662562610397051_n.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.project-position-pic.chef-1-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/akos.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.robotics-geek-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/profile.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.sheet-designer-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/vicente.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.project-position-pic.sheet-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/thomas.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.project-position-pic.coordinator-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/jessica.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.styr-designer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/adrian.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.arduino-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/profile.png');
  background-position: 50% 50%;
  background-size: 15px;
  background-repeat: repeat;
}

.project-position-pic.sort-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/profile.png');
  background-position: 50% 50%;
  background-size: 15px;
  background-repeat: repeat;
}

.project-position-pic.activist-1-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/activist-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.project-position-pic.dirty-eng {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/paul.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.project-position-pic.beyond-designer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/marina.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.sheet-designer-2 {

}

.project-position-pic.clean-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/Dave-Hakkens-portrait-Design-Academy-Eindhoven_dezeen_01.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.project-position-pic.chef-3-pic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/yegor.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.project-position-pic.safety-des {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/10624936_571331439645910_6570662562610397051_n.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-position-pic.activist-2-pic {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/activist-1-sel.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.h1-next {
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}

.h1-next.big {
  color: #fff;
  font-size: 70px;
}

.h1-next.big.wd {
  color: #484b4d;
}

.h1-next.bfbf {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  font-family: Preciousplastic, sans-serif;
  color: #fff;
}

.apply-v4 {
  float: right;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 3px;
  background-color: #f58d8e;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .3);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
}

.apply-v4:hover {
  transform: translateX(-3px);
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, .3);
}

.apply-v4:active {
  margin-top: 0px;
  margin-left: 0px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .3);
}

.apply-v4.hidden {
  display: none;
  background-color: #f58d8e;
}

.project-position-next {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #7f848a;
  font-size: 12px;
  font-weight: 400;
}

.project-position-next.strike-through {
  text-decoration: line-through;
}

.p-next {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #484b4d;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.p-next.white {
  color: #fff;
}

.p-next.white {
  color: #fff;
}

.project-duration-wrapper {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.emojo-web {
  margin-left: 20px;
}

.projects-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 50px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projects-wrapper.red {
  z-index: 6;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.projects-wrapper.purple {
  margin-bottom: 0px;
  padding-top: 0vh;
  padding-bottom: 0vh;
}

.project-bottom-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.project-positions-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -40px;
}

.team-member-pic {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  border-radius: 100px;
  background-image: url('../images/profile.png');
  background-position: 0px 0px;
  background-size: cover;
}

.team-member-pic.ben {
  background-image: url('../images/pp.jpg');
}
.team-member-pic.albert {
  background-image: url('../images/albert.png');
}

.team-member-pic.selj {
  background-image: url('../images/activist-1-sel.jpg');
}
.team-member-pic.galina {
  background-image: url('../images/galina.png');
}
.team-member-pic.peter {
  background-image: url('../images/peter.png');
}

.team-member-pic.joseph-klatt {
  background-image: url('../images/business.jpg');
}

.team-member-pic.ellieewart {
  background-image: url('../images/activist-2.jpg');
}

.team-member-pic.luois {
  background-image: url('../images/foils-des.png');
}

.team-member-pic.bor {
  background-image: url('../images/bor.png');
}
.team-member-pic.adrian {
  background-image: url('../images/adrian.png');
}

.team-member-pic.jason-knight {
  background-image: url('../images/jason-knight.png');
}
.team-member-pic.timslab {
  background-image: url('../images/timslab.png');
}

.team-member-pic.mireia {
  background-image: url('../images/mireia.png');
}

.team-member-pic.yann {
  background-image: url('../images/yann.png');
}
.team-member-pic.alicia {
  background-image: url('../images/alicia.png');
}
.team-member-pic.benj {
  background-image: url('../images/benjamin.png');
}
.team-member-pic.vicente {
  background-image: url('../images/vicente.png');
}
.team-member-pic.marina {
  background-image: url('../images/marina.png');
}
.team-member-pic.jannis {
  background-image: url('../images/jannis.png');
}
.team-member-pic.friedrich {
  background-image: url('../images/friedrich.png');
}
.team-member-pic.carolina {
  background-image: url('../images/carolina.png');
}
.team-member-pic.bradford {
  background-image: url('../images/bradford.png');
}

.team-member-pic.saskia {
  background-image: url('../images/saskia.jpg');
}
.team-member-pic.nicolas {
  background-image: url('../images/nicolas.png');
}
.team-member-pic.alicia-kisii {
  background-image: url('../images/alicia-kisii.jpg');
}
.team-member-pic.istvan {
  background-image: url('../images/istvan.jpg');
}
.team-member-pic.manduku {
  background-image: url('../images/manduku.jpg');
}
.team-member-pic.herzog {
  background-image: url('../images/herzog.jpg');
}
.team-member-pic.akos {
  background-image: url('../images/akos.jpg');
}
.team-member-pic.nate {
  background-image: url('../images/nate.png');
}
.team-member-pic.ananyabrata {
  background-image: url('../images/ananyabrata.png');
}
.team-member-pic.paul {
  background-image: url('../images/paul.png');
}
.team-member-pic.mai {
  background-image: url('../images/mai.jpg');
}
.team-member-pic.yegor {
  background-image: url('../images/yegor.jpg');
}
.team-member-pic.charlotte {
  background-image: url('../images/charlotte.png');
}
.team-member-pic.jessica {
  background-image: url('../images/jessica.jpg');
}
.team-member-pic.kai {
  background-image: url('../images/kai.jpg');
}
.team-member-pic.thomas {
  background-image: url('../images/thomas.jpg');
}
.team-member-pic.luiza {
  background-image: url('../images/luiza.jpg');
}
.team-member-pic.chris {
  background-image: url('../images/chris.jpg');
}
.team-member-pic.mariska {
  background-image: url('../images/mariska.jpg');
}
.team-member-pic.julie {
  background-image: url('../images/julie.jpg');
}
.team-member-pic.serafina {
  background-image: url('../images/serafina.jpg');
}
.team-member-pic.mark {
  background-image: url('../images/mark.jpg');
}
.team-member-pic.johe {
  background-image: url('../images/johe.jpg');
}
.team-member-pic.sue {
  background-image: url('../images/sue.jpg');
}
.team-member-pic.taylor {
  background-image: url('../images/taylor.jpg');
}
.team-member-pic.catie {
  background-image: url('../images/catie.jpg');
}
.team-member-pic.carmen {
  background-image: url('../images/carmen.jpg');
}
.team-member-pic.tirsa {
  background-image: url('../images/tirsa.jpg');
}
.team-member-pic.abrye {
  background-image: url('../images/abrye.jpg');
}
.team-member-pic.sam {
  background-image: url('../images/sam.jpg');
}
.team-member-pic.paco {
  background-image: url('../images/paco.jpg');
}
.team-member-pic.alberto {
  background-image: url('../images/alberto.jpg');
}
.team-member-pic.gizela {
  background-image: url('../images/gizela.jpg');
}
.team-member-pic.alejandro {
  background-image: url('../images/alejandro.jpg');
}
.team-member-pic.adam {
  background-image: url('../images/adam.jpg');
}
.team-member-pic.zsofie {
  background-image: url('../images/zsofie.jpg');
}
.team-member-pic.vincent {
  background-image: url('../images/vincent.jpg');
}
.team-member-pic.eden {
  background-image: url('../images/eden.jpg');
}
.team-member-pic.kit {
  background-image: url('../images/kit.jpg');
}
.team-member-pic.landry {
  background-image: url('../images/landry.jpg');
}
.team-member-pic.lusha {
  background-image: url('../images/lusha.jpg');
}
.team-member-pic.filip {
  background-image: url('../images/filip.jpg');
}
.team-member-pic.tai {
  background-image: url('../images/tai.jpg');
}
.team-member-pic.agi {
  background-image: url('../images/agi.jpg');
}
.team-member-pic.jimi {
  background-image: url('../images/jimi.jpg');
}



.team-member-pic.mattia {
  background-image: url('../images/10624936_571331439645910_6570662562610397051_n.jpg');
}

.team-member-pic.dave {
  margin-bottom: 10px;
  background-image: url('../images/Dave-Hakkens-portrait-Design-Academy-Eindhoven_dezeen_01.jpg');
}

.team-member-pic.kat {
  background-image: url('../images/10838182_10204106640131811_8439167785773366112_o.jpg');
}

.kjsdvb {
  margin-top: 100px;
  font-family: Preciousplastic, sans-serif;
  color: #fff;
  text-align: center;
}

.next-v4-team {
  margin-top: 300px;
  margin-bottom: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.grey {
  display: none;
  color: #484b4d;
}

.team-member {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #484b4d;
  font-size: 12px;
  font-weight: 400;
}

.green {
  margin-left: 50px;
  color: #fff;
}

.flag {
  width: 20%;
  margin-top: 10px;
}

.next-v4-tasks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.team-member-wrapper {
  display: block;
  width: auto;
  margin: 50px 0% 0px;
  text-align: center;
  text-decoration: none;
}

.team-member-wrapper.you-next {
  width: 15%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.team-members {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 100px auto 200px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.next-v4-footer {
  margin-top: 300px;
}

.div-social-wrapper.campaing {
  text-align: center;
}

.share-2 {
  display: block;
  width: 99%;
  margin-right: auto;
  margin-bottom: 0.5%;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 0px;
}

.share-2.pad {
  padding-top: 0px;
  padding-bottom: 51px;
}

.main-container {
  display: block;
  width: 95%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #c5c6da;
  text-align: left;
}

.share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #7f848a;
  color: #fff;
  text-align: center;
}

.h1-campaign {
  display: block;
  width: 70%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #484b4d;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
}

.h1-campaign.next-v4 {
  max-width: 1440px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 36px;
  font-weight: 400;
}

.social {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
}

.social.twitter-green {
  background-image: url('../images/5b5f915f3f9c400164ca85eb_twitter.png');
  background-position: 0px 0px;
  background-size: cover;
}

.social.g-plus-green {
  background-image: url('../images/5b5f915f3f9c404292ca85ea_google-plus.png');
  background-position: 0px 0px;
  background-size: cover;
}

.social.linked-in-green {
  background-image: url('../images/5b5f915f3f9c400740ca85e9_linked-in.png');
  background-position: 0px 0px;
  background-size: cover;
}

.social.fab-green {
  background-image: url('../images/5b5f915f3f9c40b97aca85ec_facebook.png');
  background-position: 0px 0px;
  background-size: cover;
  color: #83ceeb;
}

.footer-top-texture {
  width: 100%;
  margin-bottom: -10px;
}

.red-bg-top {
  width: 100%;
  margin-top: 1px;
  margin-bottom: -200px;
}

.red-gb-bottom {
  width: 100%;
}

.div-block-5 {
  position: relative;
  margin-top: 0px;
}

.green-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 1200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/green-try.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.h1-cat-header {
  font-family: 'Varela Round', sans-serif;
  color: #484b4d;
  font-size: 70px;
  line-height: 70px;
}

.h1-cat-header.white {
  color: #fff;
  line-height: 70px;
}

.h1-cat-header.positions {
  margin-top: -15px;
  margin-bottom: 20px;
  text-align: center;
}

.link-dh {
  width: 15%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  text-decoration: none;
}

.purple-bg-top {
  width: 100%;
}

.purple-bg-bottom {
  width: 100%;
}

.tick-img {
  position: relative;
  z-index: 3;
  display: block;
  margin: -25px auto -20px;
  float: none;
  border-radius: 100px;
  background-color: #fff;
}

.wrap-assets {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.learn-more {
  display: block;
  margin-top: 5px;
  font-family: 'Varela Round', sans-serif;
  color: #f58d8e;
  cursor: pointer;
}

.creating-an-army {
  width: 100%;
}

.emoji-smiley {
  width: 20px;
  margin-top: -5px;
  margin-left: 5px;
}

.html-video-embedd {
  position: relative;
  height: 0px;
  padding-bottom: 56.25%;
}

.strike-through{
    text-decoration: line-through;
}

.design-remote-1 {
  display: none;
}

.notification-next {
  background-color: #00C3A9;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: center;
  color: white;

}

.low-priority {
  opacity:.3;
}


@media (max-width: 991px) {
  .next-video {
    margin-top: -15%;
    padding: 5px;
  }
  .assets-gif {
    width: 150px;
    border-radius: 3px;
  }
  .asset {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .p-assets {
    font-size: 15px;
  }
  .h1-assets {
    font-size: 32px;
  }
  .asset-content-wrapper {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .next-v4-arrow-down {
    width: 20%;
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .next-v4-pick-task {
    width: 80%;
  }
  .category-wrapper {
    width: 100%;
    margin-bottom: 0px;
  }
  .category-wrapper.web {
    margin-bottom: 0px;
  }
  .category-wrapper.machines {
    width: 90%;
    margin-bottom: 0px;
  }
  .project {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .projects-category.cherries {
    margin-bottom: 200px;
  }
  .projects-category.products {
    height: auto;
    margin-top: 100px;
  }
  .category-header-wrapper {
    margin-bottom: 0px;
  }
  .p-next.white {
    width: 90%;
  }
  .next-v4-team {
    margin-top: 0px;
  }
  .team-member-wrapper.you-next {
    width: 28%;
    margin-right: 2.6%;
    margin-left: 2.6%;
  }
  .h1-campaign.next-v4 {
    font-size: 24px;
  }
  .red-bg-top {
    margin-bottom: -20px;
  }
  .green-form {
    height: 1000px;
  }
  .h1-cat-header {
    font-size: 60px;
    line-height: 60px;
  }
  .h1-cat-header.white {
    font-size: 60px;
    line-height: 80px;
  }
  .link-dh {
    width: 28%;
    margin-right: 2.6%;
    margin-left: 2.6%;
  }
  .tick-img {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 767px) {
  .next-v4-coming {
    margin-bottom: 50px;
  }
  .v4-is-coming {
    width: 100%;
  }
  .assets-gif {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
  }
  .next-v4-what-we-have {
    margin-top: 100px;
  }
  .asset {
    margin-bottom: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .asset-content-wrapper {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .next-v4-arrow-down {
    margin-top: -100px;
    margin-right: 100px;
  }
  .category-wrapper.machines {
    width: 100%;
  }
  .project {
    display: block;
    width: 95%;
  }
  .projects-category.cherries {
    margin-top: 0px;
  }
  .p-next {
    width: 100%;
  }
  .p-next.white {
    width: 100%;
  }
  .next-v4-tasks {
    height: auto;
  }
  .team-member-wrapper.you-next {
    width: 28%;
    margin-right: 2.6%;
    margin-left: 2.6%;
  }
  .team-members {
    width: 100%;
  }
  .main-container {
    width: 100%;
    margin-bottom: 20%;
  }
  .h1-campaign {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 40px;
  }
  .h1-campaign.next-v4 {
    width: 95%;
    font-size: 18px;
  }
  .green-form {
    height: 700px;
  }
  .h1-cat-header {
    font-size: 45px;
    line-height: 55px;
  }
  .h1-cat-header.white {
    font-size: 45px;
    line-height: 55px;
  }
  .purple-bg-bottom {
    margin-bottom: 300px;
  }
  .tick-img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .next-video {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 50%;
    padding: 3px;
  }
  .next-v4-coming {
    margin-top: 100px;
  }
  .v4-is-coming {
    margin-top: 200px;
  }
  .assets-gif {
    display: block;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
  }
  .asset {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .asset-content-wrapper {
    width: auto;
  }
  .next-v4-arrow-down {
    display: block;
    width: 25%;
    margin-top: -100px;
    margin-right: 50px;
    margin-left: 50px;
    float: none;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .next-v4-pick-task {
    margin-bottom: 100px;
  }
  .emoji-products {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .link-position-next {
    display: none;
  }
  .category-wrapper {
    padding: 5px;
  }
  .category-wrapper.web {
    padding: 5px;
  }
  .category-wrapper.machines {
    padding: 9px;
  }
  .project-position-wrapper.sheet-des {
    display: block;
    opacity: 1;
    margin-left: 5px;
  }
  .p-project-next {
    font-size: 14px;
  }
  .project {
    display: block;
    width: 95%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .category-header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .h1-project {
    font-size: 22px;
    line-height: 32px;
  }
  .p-next {
    font-size: 15px;
  }
  .p-next.white {
    font-size: 15px;
  }
  .projects-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .green {
    width: 100%;
    text-align: left;
  }
  .team-member-wrapper.you-next {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .share-2 {
    padding-bottom: 50px;
  }
  .main-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .h1-campaign {
    width: 95%;
  }
  .div-block-5 {
    display: block;
    width: 100%;
    padding: 30px;
  }
  .green-form {
    width: auto;
    height: auto;
  }
  .h1-cat-header {
    font-size: 32px;
    line-height: 42px;
  }
  .h1-cat-header.white {
    font-size: 32px;
    line-height: 42px;
  }
  .link-dh {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .tick-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@font-face {
  font-family: 'Preciousplastic';
  src: url('../fonts/PreciousPlastic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
